section.baner
    .baner__slider
        .baner__slide
            .baner__img-wrap
                img(src="img/baner.png")

            h1.baner__title
                | Расширяем возможности предоставления
                br
                | качественных медицинских услуг

            p.baner__description
                | «Дневник здоровья» – новый сервис для самоконтроля
                br
                | показателей состояния здоровья, разработанный для
                br
                | участников программы «Мое здоровье».

            .baner__button-box
                a(href="#").baner__link-more
                    | Узнать больше

        .baner__slide
            .baner__img-wrap
                img(src="img/baner-2.png")

            h1.baner__title.baner__title--mod
                | Следить за здоровьем станет проще


            p.baner__description.baner__description--mod
                | Скоро вы сможете находиться на связи со своим лечащим врачом
                br
                | независимо от своего местоположения, вести дневник мониторинга
                br
                | самочувствия, получать рекомендации по плану лечения и многое другое.

            .baner__button-box
                a(href="#").baner__link-more
                    | Узнать больше

