section.callback
    .container
        h3.callback__title
            | Получите бесплатный доступ к «Дневнику здоровья»

        p.callback__descr
            | Оставьте свою электронную почту
            br
            | и вы узнаете о запуске данного сервиса первым!

        form.callback__email-form
            input(type="email" placeholder="Ваш Email").callback__email
            button(type="submit").callback__submit
                | Отправить
