section.daybook#service
    .daybook__lines
        img(src='img/lines.png' alt='lines')
    .container

        //span.daybook__bg-line
        .daybook__box
            .daybook__img-wrap
                img(src="img/mocup-phone.png")

            .daybook__wrap-descr
                h3.daybook__title
                    | Что такое «дневник здоровья»?

                p.daybook__descr
                    | Дневник пациента — это удобный онлайн-сервис:

                ul.daybook__descr-list
                    li
                        span
                            | Вносите результаты измерений вручную или с помощью
                            | интегрированных приборов

                    li
                        span
                            | Ведите персональную медицинскую карту с историей
                            | ваших измерений

                    li
                        span
                            | Делитесь результатами измерений со специалистами
                            | для повышения эффективности лечения

                    li
                        span
                            | Получайте рекомендации, созданные специально для вас

                a(href="#").daybook__callback
                    | Оставить заявку

    .daybook__diagram
        img(src="img/diagram.png")

