footer.footer
    .container
        .footer__logo
            img(src="img/footer-logo.png")

        ul.footer__menu
            li.go-to
                a(href="#service")
                    | О сервисе

            li.go-to
                a(href="#function")
                    | Функции

            li.go-to
                a(href="#posibility")
                    | Возможности

            li.go-to
                a(href="#specialist")
                    | Партнеры

            li
                a(href="#")
                    | 88005004549

        span.footer__line

        p.footer__copyright
            | Разработка сайта
            span.footer__copyright-color
                | Redsoft