section.func
    .container
        h3.func__title
            | Функции приложения

        .func__box
            .func__elem
                .func__elem-img
                    img(src="img/func-1.png")

                p.func__elem-descr
                    | Планирование графика
                    br
                    |  приема лекарств

            .func__elem
                .func__elem-img
                    img(src="img/func-2.png")

                p.func__elem-descr
                        | Уведомление врача
                        br
                        | об исполнении назначений

            .func__elem
                .func__elem-img
                    img(src="img/func-3.png")

                p.func__elem-descr
                    | Ведение дневника
                    br
                    | самочувствия

            .func__elem
                .func__elem-img
                    img(src="img/func-4.png")

                p.func__elem-descr
                    | Удаленное предоставление
                    br
                    | измерений врачу

            .func__elem
                .func__elem-img
                    img(src="img/func-5.png")

                p.func__elem-descr
                    | Общение с врачами
                    br
                    | через встроенный мессенджер

            .func__elem
                .func__elem-img
                    img(src="img/func-6.png")

                p.func__elem-descr
                    | Получение уведомлений
                    br
                    | для выполнения назначений

