header.header
    .container
        .header__logo
            img(src="img/logo.png")

        nav.header__navigation
            ul.header__menu
                li
                    a(href="#")
                        | О сервисе

                li
                    a(href="#")
                        | Функции

                li
                    a(href="#")
                        | Возможности

                li
                    a(href="#")
                        | Партнеры

        .header__callback
            a(href="#").header__callback-link
                | Оставить заявку