header.header
    .container
        .header__logo
            img(src="img/logo.png")

        a(href="#").header__trigger#header-trigger
            span
            span
            span

        nav.header__navigation
            ul.header__menu
                li.go-to
                    a(href="#service")
                        | О сервисе

                li.go-to
                    a(href="#function")
                        | Функции

                li.go-to
                    a(href="#posibility")
                        | Возможности

                li.go-to
                    a(href="#specialist")
                        | Партнеры

        .header__callback
            a(href="#").header__callback-link
                | Оставить заявку