section.health#posibility
    .container
        h3.health__title
            | Ведите персональный дневник мониторинга здоровья

        .health__box
            .health__descr-wrap
                .health__elem
                    .health__elem-img
                        img(src="img/num-1.png")

                    h3.health__sub-title
                        | Хранение данных

                    p.health__descr
                        | Контролируйте и следите за динамикой изменения показателей вашего здоровья. Вносите результаты
                        | измерений медицинских показателей вручную или с помощью интегрированных приборов, храните
                        | историю измерений и отслеживайте динамику состояния здоровья

                .health__elem
                    .health__elem-img
                        img(src="img/num-2.png")

                    h3.health__sub-title
                        | Сообшение информации врачу

                    p.health__descr
                        | Позвольте специалисту дистанционно следить за вашим здоровьем.
                        | Будьте на связи со специалистом - отправляйте информацию о своем самочувствии,
                        | обменивайтесь сообщениями и получайте рекомендации по вашему здоровью и лечению.

                .health__elem
                    .health__elem-img
                        img(src="img/num-3.png")

                    h3.health__sub-title
                        | Напоминание о важном

                    p.health__descr
                        | Получайте рекомендации, созданные специально для вас.
                        | Система, персонально настроенная под ваши требования, автоматически напомнит о необходимости
                        | выполнить рекомендации медицинского специалиста: принять препарат или выполнить измерения.

            .health__img-wrap
                img(src="img/health-mockup.png")