section.spec#specialist
    .container
        .spec__box
            .spec__img-wrap
                img(src="img/spec-img.png")

            .spec__descr-wrap
                h3.spec__title
                    | Специалисты

                ul.spec__descr-list
                    li
                        span
                            | Дистанционный контроль состояния здоровья ваших пациентов

                    li
                        span
                            | Наблюдение за динамикой изменения основных
                            | медицинских показателей

                    li
                        span
                            | Наличие алгоритмов автоматического анализа
                            | поступающей информации

                    li
                        span
                            | Индивидуальная система уведомлений об изменении
                            | состояния каждого пациента

                    li
                        span
                            | Дополнительный сервис коммуникации, позволяющий активно
                            | вовлекать пациента в процесс профилактики, лечения и реабилитации